<h1>Heroku dynos</h1>
<form action="<%= u('/refresh_heroku_dynos') %>" method="POST">
  <%= csrf_token_tag %>
  <input type="submit" value="Refresh"></input>
</form>
<table>
  <tr>
    <th>
      name
    </th>
    <th>
      jobs
    </th>
    <th>
      age&nbsp;(hours)
    </th>
    <th>
      id
    </th>
    <th>
      state
    </th>
  </tr>

  <% HerokuPlatform.dynos.select{|dyno| dyno["type"] != "web"}.each do |dyno| %>
  <tr>
    <td>
      <%= dyno["name"] %>
    </td>
    <td>
      <a href='<%= u("/working?dyno_name=#{dyno['name']}&dyno_id=#{dyno['id']}") %>'>
        <%= delayed_jobs(:working).locked_by_like(dyno["id"]).count %>
      </a>
    </td>
    <td>
      <%= ((Time.now - DateTime.iso8601(dyno["created_at"]))/60/60).round(1) %>
    </td>
    <td>
      <%= dyno["id"] %>
    </td>
    <td>
      <%= dyno["state"] %>
    </td>
  </tr>
  <% end %>

</table>
