%h1 Failed Jobs
- if @jobs.any?
  %form{:method => 'POST', :action => u('failed/clear')}
    %input{:type => 'submit', :value => 'Clear Failed Jobs'}
  %form{:method => 'POST', :action => u('requeue/all')}
    %input{:type => 'submit', :value => 'Retry Failed Jobs'}

%p.sub
  The list below contains all jobs that have a last_error message set.
%p.sub= "Showing #{start} to #{start + per_page} of #{@all_jobs.count} failed jobs."
%ul.failed.job
  - @jobs.each do |job|
    = partial :job, {:job => job}
= partial :next_more, :start => start, :total_size => @all_jobs.count, :per_page => per_page
