%li.job
  %dl
    %dt ID
    %dd
      %a{:name => job.id}
      %a{:href => "##{job.id}"}=job.id
      %div.controls
        %a{:rel => 'retry', :href => u("requeue/#{job.id}")}Retry
        or
        %a{:rel => 'remove', :href => u("remove/#{job.id}")}Remove
    %dt Priority
    %dd= job.priority
    %dt Attempts
    %dd= job.attempts
    - if job.respond_to?(:queue) && job.queue
      %dt Queue
      %dd= job.queue
    %dt Handler
    %dd
      %pre= job.handler
    - if job.last_error
      %dt Last Error
      %dd
        %div.backtrace
          %pre= job.last_error[0..100] + '...'
        %a{:href => '#', :class => 'backtrace'} Toggle full message
        %div.backtrace.full.hide
          %pre= job.last_error
    - if job.run_at
      %dt Run At
      %dd.time= job.run_at.rfc822
    - if job.locked_at
      %dt Locked At
      %dd.time= job.locked_at.rfc822
    - if job.locked_by
      %dt Locked By
      %dd= job.locked_by
    - if job.failed_at
      %dt Failed At
      %dd.time= job.failed_at.rfc822
    %dt Created At
    %dd.time= job.created_at.rfc822
