<li class="job">
  <dl>
    <dt>ID</dt>
    <dd>
      <a name="<%= job.id %>"></a>
      <a href="#<%= job.id %>"><%= job.id %></a>
      <div class="controls">
        <form action="<%= u("requeue/#{job.id}") %>" method="post"><input type="submit" value="Retry"></input></form>
        or
        <form action="<%= u("remove/#{job.id}") %>" method="post"><input type="submit" value="Remove"></input></form>
        or
        <form action="<%= u("reload/#{job.id}") %>" method="post"><input type="submit" value="Reload"></input></form>
      </div>
    </dd>
    <dt>Priority</dt>
    <dd><%= job.priority %></dd>
    <dt>Attempts</dt>
    <dd><%= job.attempts %></dd>
    <% if job.respond_to?(:queue) && job.queue %>
      <dt>Queue</dt>
      <dd><%= job.queue %></dd>
    <% end %>
    <dt>Handler</dt>
    <dd>
    <pre><%= job.handler %></pre>
    </dd>
    <% if job.last_error %>
      <dt>Last Error</dt>
      <dd>
        <div class="backtrace">
          <pre><%= job.last_error[0..100] + '...' %></pre>
        </div>
        <a class="backtrace" href="#">Toggle full message</a>
        <div class="backtrace full hide">
          <pre><%= job.last_error %></pre>
        </div>
      </dd>
    <% end %>
    <% if job.run_at %>
      <dt>Run At</dt>
      <dd class="time">
        <%= job.run_at.rfc822 %>
      </dd>
    <% end %>
    <% if job.locked_at %>
      <dt>Locked At</dt>
      <dd class="time">
        <%= job.locked_at.rfc822 %>
      </dd>
    <% end %>
    <% if job.locked_by %>
      <dt>Locked By</dt>
      <dd>
        <%= job.locked_by %>
      </dd>
    <% end %>
    <% if job.failed_at %>
      <dt>Failed At</dt>
    <% end %>
  </dl>
</li>
