%h1
  Overview
%p.sub
  The list below shows an overview of the jobs in the delayed_job queue.
%table.overview
  %tr
    %th Status
    %th Count
  %tr
    %td.status
      %a{:href => u('/enqueued')} Enqueued Jobs
    %td= delayed_job.count
  %tr
    %td.status
      %a{:href => u('/working')} Working Jobs
    %td= delayed_jobs(:working).count
  %tr
    %td.status
      %a{:href => u('/pending')} Pending Jobs
    %td= delayed_jobs(:pending).count
  %tr{:class => delayed_jobs(:failed).count > 0 ? 'failure' : ''}
    %td.status
      %a{:href => u('/failed')} Failed Jobs
    %td= delayed_jobs(:failed).count
= poll
