<h1>
  Overview
</h1>
<p class="sub">
  The list below shows an overview of the jobs in the delayed_job queue.
</p>
<table class="overview">
  <tr>
    <th>Status</th>
    <th>Count</th>
  </tr>
  <tr>
    <td class="status">
      <a href="<%= u('/enqueued') %>">Enqueued Jobs</a>
    </td>
    <td>
      <%= delayed_job.count %>
    </td>
  </tr>
  <tr>
    <td class="status">
      <a href="<%= u('/working') %>">Working Jobs</a>
    </td>
    <td>
      <%= delayed_jobs(:working).count %>
    </td>
  </tr>
  <tr>
    <td class="status">
      <a href="<%= u('/pending') %>">Pending Jobs</a>
    </td>
    <td>
      <%= delayed_jobs(:pending).count %>
    </td>
  </tr>
  <tr class="<%= delayed_jobs(:failed).count > 0 ? 'failure' : '' %>">
    <td class="status">
      <a href="<%= u('/failed') %>">Failed Jobs</a>
    </td>
    <td>
      <%= delayed_jobs(:failed).count %>
    </td>
  </tr>
</table>
<%= poll %>
