%h1
  Stats
%table.stats
  %tr
    %th.status
      environment
    %th= Sinatra::Application.environment.to_s
  %tr
    %th.status
      failed
    %th= delayed_jobs(:failed).count
  %tr
    %th.status
      pending
    %th= delayed_jobs(:pending).count
  %tr
    %th.status
      working
    %th= delayed_jobs(:working).count
= poll
